In [ ]:
'''A shopkeeper stores prices as strings: ["100", "250", "75"]. Convert them to integers and find
 the total bill.'''
Prices1=["100", "250", "75"]
a=int('100')
b=int('250')
c=int('75')
ADD=a+b+c
print(ADD)

425

In [ ]:
'''A list contains marks as floats: [89.5, 76.25, 91.0]. Convert them to integers and calculate
 the average.'''
Float_Marks=[89.5, 76.25, 91.0]
# This process is used when we want to TypeCast all data togeather
a=int(89.5)
b=int(76.25)
c=int(91.0)
Average_marks=(a+b+c)/3
A_Marks=int(Average_marks)
print(A_Marks)

85

In [14]:
'''A user inputs the number of units as a string "150". Convert it to an integer and multiply by 15
 to calculate the bill.'''
Units='150'
Integer_units=int(Units)
Bills=Integer_units*15
print(f"The Total Bill is : {Bills}")

The Total Bill is : 2250

In [21]:
'''Two numbers are given as strings: "45" and "55". Convert and add them. Then, concatenate them
 without converting. Compare both results.'''
a='45'
b='55'
c=int(a)
d=int(b)
s=c+d
print(s)
concacinate=a+b
print(concacinate)

100
4555